<!-- Footer -->
<footer class="w3-center w3-black w3-padding-32">
  <button type="button" class="w3-button w3-light-grey" onclick="window.scrollTo(0,0)">
    <i class="fa fa-arrow-up w3-margin-right"></i>To the top</button>
  <div class="w3-section">
    <div class="w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i></div>
    <div class="w3-medium">
      <a href="/advertise" title="W3.CSS" class="w3-margin-left w3-hover-text-green">Advertise With Us</a>
      <a href="/invest" title="W3.CSS" class="w3-margin-left w3-hover-text-green">Invest In Us</a>
      <a href="/special" title="W3.CSS" class="w3-margin-left w3-hover-text-green">Special Thanks</a></div>
      <p>Your use of this site means that you have read and accepted our 
        <a href="/tnc" title="W3.CSS" class="w3-hover-text-green">Terms and Conditions</a> and 
        <a href="/privacy" title="W3.CSS" class="w3-hover-text-green">Privacy Policy</a>.</p>
      <p>JackNeedsAJob&copy; 2018. All rights reserved.<p></div>
</footer>