<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="/main" class="w3-bar-item w3-button w3-wide"><strong>J.N.A.J.</strong></a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <!--a href="/main#about" class="w3-bar-item w3-button w3-hide-medium">ABOUT</a-->
      <a href="/profiles" class="w3-bar-item w3-button"><i class="fa fa-user"></i> DEVELOPERS</a>
      <a href="/samples" class="w3-bar-item w3-button"><i class="fa fa-th"></i> SAMPLES</a>
      <a href="/pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> PRICING</a>
      <a href="/contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
      <a href="/signin" class="w3-bar-item w3-button"><i class="fa fa-user-circle"></i> LOGIN</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" 
    onclick="open_sidebar()"><i class="fa fa-bars"></i></a>
  </div>
</div>